body {
    margin: 0;
    padding: 0;
    font-family: "여기어때 잘난체";
    min-width: 1900px;
}
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
p {
    margin: 0;
    padding: 0;
}
a {
    color: #000;
    list-style: none;
    text-decoration: none;
}
@font-face {
    font-family: '여기어때 잘난체';
    src: url(../font/Jalnan2/Jalnan2TTF.ttf);
    font-weight: 100;
}
@font-face {
    font-family: '여기어때 잘난체';
    src: url(../font/Jalnan2/Jalnan2TTF.ttf);
    font-weight: 200;
}
@font-face {
    font-family: '여기어때 잘난체';
    src: url(../font/Jalnan2/Jalnan2TTF.ttf);
    font-weight: 300;
}
@font-face {
    font-family: '여기어때 잘난체';
    src: url(../font/Jalnan2/Jalnan2TTF.ttf);
    font-weight: 400;
}
@font-face {
    font-family: '여기어때 잘난체';
    src: url(../font/Jalnan2/Jalnan2TTF.ttf);
    font-weight: 500;
}
@font-face {
    font-family: '여기어때 잘난체';
    src: url(../font/Jalnan2/Jalnan2TTF.ttf);
    font-weight: 600;
}
@font-face {
    font-family: '여기어때 잘난체';
    src: url(../font/Jalnan2/Jalnan2TTF.ttf);
    font-weight: 700;
}
@font-face {
    font-family: '여기어때 잘난체';
    src: url(../font/Jalnan2/Jalnan2TTF.ttf);
    font-weight: 800;
}
@font-face {
    font-family: '여기어때 잘난체';
    src: url(../font/Jalnan2/Jalnan2TTF.ttf);
    font-weight: 900;
}